* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.input-field-section {
    align-items: center;
}

input {
    width: 70%;
}

#input-btn {
    padding: 7px 13px;
    border-radius: 4px;
    background: #21253f;
}

@media screen and (max-width: 500px) {
    input {
        width: 45%;
    }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
    input {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    input {
        width: 72%;
    }
}

.btn-hoverDesign:hover {
    background-image: linear-gradient(to right, #62b9fa, #e422ea);
}

.terms {
    font-size: 12px;
}

.instraction-text {
    font-size: 12px;
}

.icons i {
    font-size: 24px;
    padding: 0 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

.icons i:hover {
    transform: scale(1.5);
}

.qrCode-style {
    height: 200px;
    width: 200px;
    transition: all 1s;
}
